.App {
  height: 100vh;
  width: 100vw;
}

.Nav {
  border-bottom: 1px solid;
}

.NavItem {
  line-height: 3;
  padding: 0 1em;
  cursor: pointer;
}

.NavItem + .NavItem {
  border-left: 1px solid;
}

.NavItem.Selected {
  font-weight: bold;
}

.Sidebar {
  background-color: #333;
}

.Editor {
  background-color: #444;
  padding: 1em;
}
